*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100vh;
    background-color: lightgray;
    
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: solid;
    color:blue;
}
.container{
    padding: 10px 30px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    color:blue;
    background-color:white;
    width: 40%;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
#slots-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid gray;
    padding: 10px 10px;
    width: 100%;
    border-radius: 10px;
    background-color: lightgray;
}
.btn-styles{
    padding: 5px 10px;
    border-radius: 10px;
    color: lightgray;
    background-color:blue;
    border: 2px solid gray;
}
.btn-styles:hover{
    border: none;
    cursor: pointer;
}
#booked-section{
    width: 100%;
    border: 2px solid gray;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: blue;
    color: lightgray;
    text-align: center;
}
#slots-section button:hover{
    cursor: pointer;
}
#delete{
    width: 100%;
    border: 2px solid gray;
    background-color: blue;
    padding: 10px 10px;
    text-align: center;
    border-radius: 10px;
    color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
#delete:hover{
   cursor: pointer; 
}